<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
	
    <h:head>
        <title>Annuaire</title>
    </h:head>
    
	<h:body>
		
		<h1>Personnes - page <h:outputText value="#{personsBean.currentPage + 1}"/></h1>
		
		<h:dataTable value="#{personsBean.persons}" var="person">
			<h:column>
				<f:facet name="header">ID</f:facet>
				<h:outputText value="#{person.id}"/>
			</h:column>
			<h:column>
				<f:facet name="header">Name</f:facet>
				<h:outputLink value="person.faces">
					<f:param name="id" value="#{person.id}" />
					<h:outputText value="#{person.firstName} #{person.lastName}"/>
				</h:outputLink>
			</h:column>			
		</h:dataTable>
		
		<p>
			<h:form>
				<h:commandLink action="#{personsBean.previousPage()}" disabled="#{!personsBean.hasPreviousPage()}">
					<h:outputText value="Précédent"/>
				</h:commandLink>
				<h:outputText value=" - "/>
				<h:commandLink action="#{personsBean.nextPage()}" disabled="#{!personsBean.hasNextPage()}">
					<h:outputText value="Suivant"/>
				</h:commandLink>
			</h:form>
		</p>
    </h:body>
</html>

