<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
	
	<f:metadata>
		<f:viewParam name="id" value="#{personBean.id}" />
		<f:event type="preRenderView" listener="#{personBean.init}" />
	</f:metadata>
	
    <h:head>
        <title>Annuaire</title>
    </h:head>
    
	<h:body>
		
		<h:link outcome="persons" value="Retour à la liste"/>
		
		<h1>Fiche personne</h1>
		
		<h:form>
			<ul>
				<li><b>Numéro : </b> <h:outputText value="#{personBean.value.id}"/></li>
				<li><b>Prénom : </b> <h:inputText value="#{personBean.value.firstName}"/></li>
				<li><b>Nom : </b> <h:inputText value="#{personBean.value.lastName}"/></li>
				<li>etc.</li>		
			</ul>

			<h:commandButton action="#{personBean.update}" value="Update"/>
		</h:form>
		
		<h:panelGroup rendered="#{personBean.relations.size() gt 0}">
			<hr/>
			<h2>Relations</h2>

			<h:dataTable value="#{personBean.relations}" var="rel">
				<h:column>
					<f:facet name="header">ID</f:facet>
					<h:outputText value="#{rel.id}"/>
				</h:column>
				<h:column>
					<f:facet name="header">Name</f:facet>
					<h:outputLink value="person.faces">
						<f:param name="id" value="#{rel.id}" />
						<h:outputText value="#{rel.firstName} #{rel.lastName}"/>
					</h:outputLink>
				</h:column>	
			</h:dataTable>
		</h:panelGroup>
		
		<hr/>		
		<h2>Ajout de relation</h2>
		
		<h:form>
			<h:outputText value="Rechercher une personne: "/>
			<h:inputText value="#{personBean.searchPattern}"/>
			<h:commandButton action="#{personBean.search}" value="Rechercher"/>
			
			<h:dataTable value="#{personBean.searchResults}" var="person" rendered="#{personBean.searchResults.size() gt 0}" style="margin-top:10pt">			
				<h:column>
					<f:facet name="header">Résultats</f:facet>				
					<h:outputText value="#{person.firstName} #{person.lastName}"/>				
				</h:column>
				<h:column>					
					<h:commandLink action="#{personBean.addRelationWith(person)}" value="Ajouter une relation"/>
				</h:column>
			</h:dataTable>
		</h:form>
		
    </h:body>
</html>

